:root {
  --color-darkCyan: #5ba4a4;
  --color-verydarkCyan: #2c3a3a;
  --color-lightgrayCyan1: #effafa;
  --color-lightgrayCyan2: #eef6f6;
  --color-grayCyan: #7b8e8e;
  --color-headBg: #63bbbb;
  --color-headBgImg: #5ba4a4;
  --color-button: #ebf5f5;
}


body {
  min-height: 100vh;
  transition: background-color 0.3s ease;
  font-family: "Spartan", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
  font-size:  1rem;
  font-weight: 700;
  color: var(--color-darkCyan);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2{
  font-size: 22px;
}
/* 
.searchBar{
    overflow: hidden;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
} */

/* .search{
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 1rem 2rem;
    outline: none;
    box-shadow: inset;
} */
.filter-wrapper {
  transform: translateY(-3.5rem) scaleY(0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  background: white;
  min-height: 74px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(55, 141, 128, 0.2);
  transition: transform 0.3s ease-in-out;
}


.filter-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

  /* clear button */
  .filter-clear {
    cursor: pointer;
    position: relative;
  }
  .filter-clear::after {
    content: "";
    position: absolute;
    transform: scaleX(0);
    left: 0;
    transform-origin: 0 50%;
    background: var(--color-darkCyan);
    height: 2px;
    width: 100%;
    transition: all 0.2s ease;
  }
  .filter-clear:hover::after {
    transform: scaleX(1);
    transform-origin: 0 50%;
  }




.lists{
  
    max-width: 45rem;
    width: 100%;
    height: 90%;
    border-radius: 1rem;
    margin: 1.5rem;
    margin-bottom: 2.5rem; 
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height:20rem;
}

.container-list{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    margin: 1rem;
    height: 100%;
    width: 100%;
}


/* trip card */

.image-card{
   flex-shrink: 0;
 
   width: 100%;
   background-position: bottom;
   object-fit: none;
   border-width: 1px;
}

.image-card img{
    height: 18rem;
    width: 100%;
    background-position: bottom;
    width: 12rem;
    object-fit: cover;
    border-radius: 10px;
}
.contents{
  display: flex;
  position: relative;
  height: 18rem;
  margin-left: 13rem;
  padding-right: 1rem;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;   
}
.title{
    display: flex;
    text-align: left;
    margin-top: 1rem;
    font-size: 16px;
    width: 100%;
}



  




/* images gallery */
.images-slide{
    -ms-grid-row-span: 1;
    column-span: 2;
}
.slide{
  height: 10rem;
  width: 8.5rem;
  display: flex;
  position: absolute;
  grid-row: 1;
  position: cover;
  grid-auto-flow: column;
  gap: 4;
  place-self: center;
  align-items: baseline;
  padding: .5rem .5rem ;

}

.slide img{
  height: 5.5rem;
  width: 7.5rem;
  display: flex;
  position: cover;
  border-radius: 10px;
  align-items: center;
  margin-right: 1rem;
  
}
.slide img:first-child{
  height: 18rem;
  width: 100%;
  background-position: bottom;
  width: 12rem;
  object-fit: cover;
  border-radius: 10px;
  height: 17rem;
}



/*descriptiotn & read more button */
#module {
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
  }
  #module p{
     text-decoration: none;
    list-style: none;
  }
  #module #collapseId.collapse:not(.show) {
    display: block;
    height: 3rem;
   
    overflow: hidden;
  }
  
  #module #collapseId.collapsing {
    height: 3rem;
  }
  
  #module a.collapsed::after {
    content: 'Read More';
    font-size: 11px;
  }
  
  
 
  
/* hashtags */

  #dots {
    font-size: 14px;
    flex-wrap: wrap;
    display: flex;
    height: 1rem;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}




 
  
    /*tabs*/
  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(180, 31%, 95%);
    margin: 3px 8px;
    overflow: hidden;
    border-radius: 4px;
  }
  .tabs p {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(91, 167, 167);
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    color: #fff;
    transition: 0.3s ease background-color;
  }
  .tabs p {
    transform: scale(0.8);
  }
  .tabs p {
    font-size: 11px;
    padding: 5px;
    font-weight: 700;
    color:#fff;
    margin-top: 3px;
    letter-spacing: 0.5px;
  }

  .tabs p:hover {
    background-color: hsl(180, 14%, 20%);
  }


  .tabs .ion-icon {
    font-weight: 700;
  }
  .tabs .cancel {
    height: 1.5px;
    width: 20px;
    background-color: #fff;
    display: flex;
    transform: rotate(45deg);
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .tabs .cancel::after {
    content: "";
    width: 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: rotate(-90deg);
  }
  



/* filter box*/
.filter-list-box, .job-tag-box .job-tag {
  background: var(--color-button);
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0.2rem;
}
.filter-list-box:hover .filter-remove-icon, .job-tag-box .job-tag:hover .filter-remove-icon {
  background: var(--color-verydarkCyan);
}
.filter-list-box .filter-tag, .job-tag-box .job-tag .filter-tag {
  margin-right: 3.2rem;
}
.filter-list-box .filter-remove-icon, .job-tag-box .job-tag .filter-remove-icon {
  pointer-events: none;
  background: var(--color-darkCyan);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 100%;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.2s ease;
}

/* job-tag */


.job-tag-box {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
    align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

.job-tag-box h5{
  display: flex;
  flex-direction: row;
  width: 5.5rem;
  font-size: 14px;
}
.job-tag-box .job-tag {
  transition: all 0.2s ease;
    width: max-content;
}
.job-tag-box .job-tag:hover {
  background: var(--color-darkCyan);
}
.job-tag-box .job-tag:hover p {
  color: white;
  transition: all 0.2s ease;
}


