:root .light {
  --color-darkCyan: #5ba4a4;
  --color-verydarkCyan: #2c3a3a;
  --color-lightgrayCyan1: #effafa;
  --color-lightgrayCyan2: #eef6f6;
  --color-grayCyan: #7b8e8e;
  --color-headBg: #63bbbb;
  --color-headBgImg: #5ba4a4;
  --color-button: #ebf5f5;
}
:root .dark {
  --color-darkCyan: #a8439f;
  --color-verydarkCyan: #3a2c39;
  --color-lightgrayCyan1: #401c40;
  --color-lightgrayCyan2: #573357;
  --color-grayCyan: #8e7b8d;
  --color-headBg: #2b0821;
  --color-headBgImg: #522e47;
  --color-button: #f5ebf4;
}
html {
  font-size: 90%;
}
html a, html li {
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: var(--color-lightgrayCyan1);
  transition: background-color 0.3s ease;
  font-family: "Spartan", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
  font-size:  1rem;
  font-weight: 700;
  color: var(--color-darkCyan);
}
main {
  display: flex;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
  background: var(--color-headBg);
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
}

h2{
  font-size: 22px;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-6px) rotate(-6deg);
  }
  30% {
    transform: translateX(4px) rotate(6deg);
  }
  45% {
    transform: translateX(-4px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(3px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-1px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-6px) rotate(-6deg);
  }
  30% {
    transform: translateX(4px) rotate(6deg);
  }
  45% {
    transform: translateX(-4px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(3px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-1px) rotate(-1.2deg);
  }
}
@-webkit-keyframes rotate45deg {
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(10deg);
  }
}
@keyframes rotate45deg {
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(10deg);
  }
}
/* color swither */


.head-container {
  padding: 0 16.5rem;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15.6rem;
  transition: background-color 0.3s ease-in-out;
  background: var(--color-headBgImg) url(./images/bg-header-desktop.png) no-repeat center/cover;
}

.head-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}
.head-wrapper .color-switch-box {
  position: absolute;
  right: 3rem;
  top: 3rem;
  cursor: pointer;
  border-radius: 100%;
  -webkit-animation: rotate 10s linear infinite both;
          animation: rotate 10s linear infinite both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  transition: all 0.3s ease;
  filter: brightness(1.3) blur(0.1rem);
}
.head-wrapper .color-switch-box:hover {
  -webkit-animation: rotate 0.5s linear infinite both;
          animation: rotate 0.5s linear infinite both;
  filter: brightness(1.7) blur(0.3rem);
  transition: all 0.3s ease;
}
.head-wrapper .color-switch-box .color-switcher {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background: url(../images/color-wheel.png) no-repeat center center;
  background-size: 300%;
  box-shadow: 0 0 20px rgba(214, 214, 214, 0.4);
}
/* 
.searchBar{
    overflow: hidden;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
} */

/* .search{
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 1rem 2rem;
    outline: none;
    box-shadow: inset;
} */
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
 
 
}

.filter-wrapper {
  transform: translateY(-3.5rem) scaleY(0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  background: white;
  min-height: 74px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(55, 141, 128, 0.2);
  transition: transform 0.3s ease-in-out;
}


.filter-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.filter-list-box, .job-tag-box .job-tag {
  background: var(--color-button);
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0.2rem;
}
.filter-list-box:hover .filter-remove-icon, .job-tag-box .job-tag:hover .filter-remove-icon {
  background: var(--color-verydarkCyan);
}
.filter-list-box .filter-tag, .job-tag-box .job-tag .filter-tag {
  margin-right: 3.2rem;
}
.filter-list-box .filter-remove-icon, .job-tag-box .job-tag .filter-remove-icon {
  pointer-events: none;
  background: var(--color-darkCyan);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 100%;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.2s ease;
}

  /* clear button */
.filter-clear {
  cursor: pointer;
  position: relative;
}
.filter-clear::after {
    content: "";
    position: absolute;
    transform: scaleX(0);
    left: 0;
    transform-origin: 0 50%;
    background: var(--color-darkCyan);
    height: 2px;
    width: 100%;
    transition: all 0.2s ease;
}
.filter-clear:hover::after {
    transform: scaleX(1);
    transform-origin: 0 50%;
}


/* begin trip card */

.lists{
    width: 100%;
    max-width: 45rem;
    flex-wrap: wrap;
    align-items: center;
    height: 90%;
    border-radius: 1rem;
    margin: 1.5rem;
    margin-bottom: 2.5rem; 
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height:20rem;
}

.container-list{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    margin: 1rem;
    height: 100%;
    width: 100%;
}


/* card image  */

.image-card{
   flex-shrink: 0;
 
   width: 100%;
   background-position: bottom;
   object-fit: none;
   border-width: 1px;
}

.image-card img{
    height: 18rem;
    width: 100%;
    background-position: bottom;
    width: 12rem;
    object-fit: cover;
    border-radius: 10px;
}
.contents{
  display: flex;
  position: relative;
  height: 18rem;
  margin-left: 13rem;
  padding-right: 1rem;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;   
}
.title{
    display: flex;
    text-align: left;
    margin-top: 1rem;
    font-size: 16px;
    width: 100%;
}


/* images gallery */
.images-slide{
    -ms-grid-row-span: 1;
    column-span: 2;
}
.slide{
  height: 10rem;
  width: 8.5rem;
  display: flex;
  position: absolute;
  grid-row: 1;
  position: cover;
  grid-auto-flow: column;
  gap: 4;
  place-self: center;
  align-items: baseline;
  padding: .5rem .5rem ;

}

.slide img{
  height: 5.5rem;
  width: 7.5rem;
  display: flex;
  position: cover;
  border-radius: 10px;
  align-items: center;
  margin-right: 1rem;
  
}
.slide img:first-child{
  height: 18rem;
  width: 100%;
  background-position: bottom;
  width: 12rem;
  object-fit: cover;
  border-radius: 10px;
  height: 17rem;
}



/*descriptiotn & read more button */
#module {
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
  }
  #module p{
     text-decoration: none;
    list-style: none;
  }
  #module #collapseId.collapse:not(.show) {
    display: block;
    height: 3rem;
   
    overflow: hidden;
  }
  
  #module #collapseId.collapsing {
    height: 3rem;
  }
  
  #module a.collapsed::after {
    content: 'Read More';
    font-size: 11px;
  }
  
  
 
  
/* hashtags */

  #dots {
    font-size: 14px;
    flex-wrap: wrap;
    display: flex;
    height: 1rem;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}




 
  
    /*tabs*/
  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(180, 31%, 95%);
    margin: 3px 8px;
    overflow: hidden;
    border-radius: 4px;
  }
  .tabs p {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(91, 167, 167);
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    color: #fff;
    transition: 0.3s ease background-color;
  }
  .tabs p {
    transform: scale(0.8);
  }
  .tabs p {
    font-size: 11px;
    padding: 5px;
    font-weight: 700;
    color:#fff;
    margin-top: 3px;
    letter-spacing: 0.5px;
  }

  .tabs p:hover {
    background-color: hsl(180, 14%, 20%);
  }


  .tabs .ion-icon {
    font-weight: 700;
  }
 .cancel {
    height: 1.5px;
    width: 20px;
    background-color: #fff;
    display: flex;
    transform: rotate(45deg);
    position: relative;
    align-items: center;
    justify-content: center;
  }
 .cancel::after {
    content: "";
    width: 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: rotate(-90deg);
  }
  




/* hashtag */


.job-tag-box {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
    align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

.job-tag-box h5{
  display: flex;
  flex-direction: row;
  width: 5.5rem;
  font-size: 14px;
}
.job-tag-box .job-tag {
  transition: all 0.2s ease;
    width: max-content;
}
.job-tag-box .job-tag:hover {
  background: var(--color-darkCyan);
}
.job-tag-box .job-tag:hover p {
  color: white;
  transition: all 0.2s ease;
}


